.dark-link {
  color: #163969;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    color: #163969;
  }
}

.standard-link {
  text-decoration: none;
}

.sidebar-link {
  text-decoration: none;
  color: black;

  &:hover {
    color: black;
  }
}